# =====================
# Maven
# =====================
target/

# =====================
# Environment
# =====================
.env

# =====================
# IDEs
# =====================
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr

.vscode/

# =====================
# Build tools
# =====================
build/
dist/

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
